# Functions in Python

In [1]:
def tea() :
    print("Boil water with tea leaves and sugar")
    print("Add Milk")
    print("Let it boil 4 - 5 times")

def coffee() :
    print("Boil some milk")
    print("pour it in cup with some coffee")
    print("stir")

In [2]:
# calling tea function 

tea()

Boil water with tea leaves and sugar
Add Milk
Let it boil 4 - 5 times

In [3]:
# calling coffee function

coffee()

Boil some milk
pour it in cup with some coffee
stir

#### write a Function to say Hello to people by their Names

In [4]:
def hello(name):
    print("Hi " + name)

In [5]:
hello("Teja")

Hi Teja

### Calling with argument names

In [6]:
def fight(name , age , villains) :
    print("Hero named", name ,"at age" , age, "was fighting all these villans - ", villains)

In [7]:
fight("Spiderman" , 20 , ["Vulture" , "Venom" ,"Electro"])

Hero named Spiderman at age 20 was fighting all these villans -  ['Vulture', 'Venom', 'Electro']

##### Default Arguments

In [8]:
def fight1(name , age , villains = ['Thanos' ,'Ultron']) :
    print("Hero named", name ,"at age" , age, "was fighting all these villans - ", villains)

In [9]:
fight1("Spiderman" , 20 )

Hero named Spiderman at age 20 was fighting all these villans -  ['Thanos', 'Ultron']

In [10]:
def fight2(name ="Spiderman" , age =20 , villains = ['Thanos' ,'Ultron']) :
    print("Hero named", name ,"at age" , age, "was fighting all these villans - ", villains)

In [11]:
fight2()

Hero named Spiderman at age 20 was fighting all these villans -  ['Thanos', 'Ultron']

## Returning data from a Function

In [12]:
def cube(x):
    # Return value of x ** 3
    ans = x ** 3
    return ans

In [13]:
cube(3)

27

### Return as many values as possible

In [14]:
def spiderman():
    return "Peater Parker" , 20 , "Tom Holland"

In [15]:
name , age , actor = spiderman()

In [16]:
print("Name =" ,name)
print("Age =" , age)
print("Actor=",actor)

Name = Peater Parker
Age = 20
Actor= Tom Holland

#### Calling with keyword pair arguments

In [17]:
def fight(name  , age  , villains ) :
    print("Hero named", name ,"at age" , age, "was fighting all these villans - ", villains)

In [18]:
# if we forgot the order to pass the arguments we can use this method

In [19]:
fight(age =20 ,villains =['Venom' ,'Electro'] ,name="Spiderman")

Hero named Spiderman at age 20 was fighting all these villans -  ['Venom', 'Electro']

### Call Stack
LIFO : Last In First Out

In [20]:
def square (x):
    return x ** 2

def pythagoras(a , b):
    c2 =square(a) + square(b)
    return c2

pythagoras(4 , 5)

41

#### A Program to find all the prime numbers between the given range a , b

### Map Function

In [21]:
def square(x) :
    return x ** 2

a = [5 , 2, 6, 9, 3]

Generate a list that contains the squares of the numbers in 'a'


b = [25 , 4, 36, 81, 9]

In [22]:
b = []
for x in a :
    b.append(square(x))

In [23]:
b

[25, 4, 36, 81, 9]

You want to call a function on all elements of an iterable (List , Range , Tuple , Set)

In [24]:
b = list(map(square,a))

In [25]:
b

[25, 4, 36, 81, 9]

### Lambda Function

In [26]:
def square(x) :
    return x ** 2

def cube(x) :
    return x **3

In [27]:
square2 = lambda x : x ** 2

In [28]:
square2(5)

25