# Programming Fundamentals -1 : Intro to Python

### Hello World

In [1]:
print("Hello World")

Hello World

In [2]:
print(5+2)

7

In [3]:
print(10-2+6)

14

### Strings can be executed with both single and double inverted commos
#### Single and Double quotes are same in Python

In [4]:
print("Good Morning")

Good Morning

In [5]:
print('good Evening')

good Evening

### Simple Interest

In [6]:
p=100
r=5
t=2

In [7]:
si=(p * r * t)/100

In [8]:
print("Simple interest is :",si)

Simple interest is : 10.0

### Input

##### Take the Input from the User

In [9]:
name=input()

 Ram

In [10]:
print("Hello Mr.",name)

Hello Mr. Ram

In [11]:
name1=input()
name2=input()
name3=input()

 Ram
 Ravi
 Teja

In [12]:
print (name1 , name2 , name3)

Ram Ravi Teja

## Comments

#### Comments are statements that are written inside the code but they are ignored by the interpreter . These are written to make the code understandable and Redable

In [13]:
print("Good Evening")
#This is a good evening Statement

print("Hello to Everyone")

Good Evening
Hello to Everyone

# Data Types
* Integer -int
* Floating point numbers - float
* Strings -str
* Boolean Type -bool
* NoneType

In [14]:
a=100

In [15]:
print(type(a))

<class 'int'>

Variable 'a' is storing a integer type of Data

In [16]:
b=10.74982374

In [17]:
print(type(b))

<class 'float'>

Float - Numbers having the Decimal Point

In [18]:
c="Hello World"
d='h'

In [19]:
print(type(c))
print(type(d))

<class 'str'>
<class 'str'>

str - String

Char DataType doesnot exist in Python

In [20]:
e=True
f=False

In [21]:
print(type(e))
print(type(f))

<class 'bool'>
<class 'bool'>

In [22]:
g=None
#None denotes NULL value

In [23]:
print(type(g))

<class 'NoneType'>

# Variable name must always begin with a character or underscore
# Variable names are case sensitive
# special characters are not allowed in naming variables (under score is an Exception)

* name1
* name-1 # not allowed
* name_1 #this is allowed

In [27]:
f=7.4
print(type(f))

<class 'float'>

convert this float number to an Integer

In [25]:
i  = int(f)
i2 = int(10.9)
i3 = int(-5.3)

In [26]:
print(i , i2 , i3)

7 10 -5

In [28]:
print(type(1))

<class 'int'>

convert int to float

In [37]:
a = 10
b = float(a)

In [38]:
print(b)
print(type(b))

10.0
<class 'float'>

#### String to Int

In [40]:
s="537"

In [41]:
print(type(s))

<class 'str'>

In [42]:
i=int(s)
print(i)
print(type(i))

537
<class 'int'>

In [43]:
i2=int("abcd")

ValueError: invalid literal for int() with base 10: 'abcd'

#### convert int into string

In [44]:
x=739257
s=str(x)
print(s,type(s))

739257 <class 'str'>

## Range of Numbers
Python doesn't have any range on its numbers

## Operators

In [46]:
a = 5 + 2  #Addition Operator
b = 5 - 2  #Subtraction Operator
c = 5 * 2  #Multiplication Operator
d = 5 / 2  #Division Operator
e = 5 % 2  #Modulus Operator
f = 5 ** 2 #Power Operator

In [47]:
print(a , b , c , d , e , f)

7 3 10 2.5 1 25